<div class="container">
  <div class="row">

    <div class="col-lg-12">
        <h3 style="color: #FF0000;">Hypercare Customers</h3>
		<table>
			<tr>
				<th></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
			</tr>
			<tr>
				<td></td>
				<td style="color: #FF0000;">2</td>
				<td style="color: #FF0000;">3</td>
				<td style="color: #FF0000;">sok</td>
			</tr>
		</table>
		<h3 style="color: #F4A460;">Maintenance Customers</h3>
		<table>
			<tr>
				<th></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
			</tr>
			<tr>
				<td></td>
				<td style="color: #F4A460;">2</td>
				<td style="color: #F4A460;">3</td>
				<td style="color: #F4A460;">sok</td>
			</tr>
		</table>
		<h3 style="color: #708090;">Other Customers</h3>
		<table>
			<tr>
				<th></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
				<th><img src="./assets/images/tractor1.png" height="42" width="42"></th>
			</tr>
			<tr>
				<td></td>
				<td style="color: #708090;">2</td>
				<td style="color: #708090;">3</td>
				<td style="color: #708090;">sok</td>
			</tr>
		</table>

    </div>
  </div>
</div>

