<div class="panel-header panel-header-sm">

  <button (click)="switchPage()" type="button" class="btn btn-outline-warning" style="float: right">Back</button>

</div>



<div [hidden]="!firstPage" class="main-content">

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Global Map</h4>
        </div>
        <div class="card-body">
            <app-trackermap [data]="data" (messageEvent)="receiveFilter($event)"></app-trackermap>
        </div>
        <!--<div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>-->
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2018 Sales</h5>
        </div>
        <div class="card-body">
          <app-trackercategory></app-trackercategory>
        </div>
        <!--<div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card  card-tasks">
        <!--<div class="card-header ">
          <h5 class="card-category">Backend development</h5>
          <h4 class="card-title">Tasks</h4>
        </div>-->
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <app-trackertable [data]="filtered" (messageEvent)="receivePage($event)"></app-trackertable>
          </div>
        </div>
        <!--<div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>

<app-machinepage *ngIf="!firstPage" [machineid]="machineid"></app-machinepage>



